@charset "utf-8";

*{
  margin: 0;padding: 0;
  list-style: none;
}

html,body{
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

img{
  vertical-align: middle;
}
::-webkit-scrollbar {display:none;}
body{
  font-size: 0.2rem;
  background-color: #2B0508;
}
.index-box{
  width: 100%;
  height:100%;
  position: fixed;
  overflow-y: auto;
  .banner{
    width:100%;
    height:auto;
    img{
      width:100%;
      height:auto;
    }
  }
  .rule{
    .rule-tit{
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.2rem;
      img{
        width: 1.97rem;
        height: 0.9rem;
      }
      a{
        line-height: 0.9rem;
        margin-right: 0.5rem;
        font-size: 0.25rem;
        font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
      }
    }
    .rules-box{
      width:100%;
      height:auto;
      img{
        width:100%;
      }
    }
  }
  .team-list{
    .team-box{
      .team-tit{
        height: 0.9rem;
        img{
          width: 1.97rem;
          height: 0.9rem;
        }
      }
      .team-search{
        color: #fff;
        font-size: 0.24rem;
        font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        margin-left: 0.96rem;
      }
      .team-create{
        color: #fff;
        font-size: 0.24rem;
        font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        margin-left: 0.45rem;
      }
    }
    .team-ul{
      .team-li{
        height: auto;
        display: flex;
        justify-content: space-between;
        background: url("../img/back.png") no-repeat;
        background-size:  100% 100%;
        color: #fff;
        padding: 0.25rem 0.3rem;
        .teamli-left{
          width: 49%;
          display: flex;
          position: relative;
          .avatar-box{
            width: 0.68rem;
            height: 0.68rem;
            .avatar{
              width: 0.68rem;
              height: 0.68rem;
              border-radius: 50%;
            }
            .server{
              position: absolute;
              top: 0;
              left: 0;
              width: 0.2rem;
              height: 0.2rem;
            }
          }
          .name{
            margin-left: 0.27rem;
            .team-name{
              font-size: 0.24rem;
              margin-bottom: 0.13rem;
              font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
            }
            .captain{
              font-size: 0.16rem;
              font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
            }
          }
        }
        .teamli-right{
          width: 49%;
          display: flex;
          .num{
            margin-top: 0.22rem;
            font-size: 0.2rem;
            font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
            margin-right: 0.34rem;
          }
          .like{
            width: 0.94rem;
            height: 0.68rem;
            background: url("../img/add.png") no-repeat;
            background-size: 100% 100%;
            text-align: center;
            font-size: 0.16rem;
            margin-right: 0.17rem;
            font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
            .zan{
              margin-top: 0.06rem;
            }
          }
          .join{
            width: 0.94rem;
            height: 0.68rem;
            background: url("../img/add.png") no-repeat;
            background-size: 100% 100%;
            text-align: center;
            font-size: 0.2rem;
            line-height: 0.68rem;
            font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
          }
        }
      }
    }
  }
  .more{
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    color: #fff;
    font-size: 0.23rem;
    font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
  }
  .copy-box{
    width: 100%;
    height: 0.99rem;
    line-height: 0.99rem;
    color: #fff;
    font-size: 0.23rem;
    font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    .code{
      float: right;
      width: 0.99rem;
      height: 0.99rem;
      margin: 0 0.36rem 0 0.48rem;
    }
    .copy{
      float: right;
    }

  }

  @media only screen and (max-width:375px){
    .zan{
      margin: 0;
    }
  }
}
i{
  font-style: normal;
}
.detail-box{
  width: 100%;
  height:100%;
  position: fixed;
  overflow-y: auto;
  .header{
    width:100%;
    height: 0.75rem;
    margin-bottom: 0.15rem;
    .head{
      padding: 0 0.26rem;
      height: 0.75rem;
      background-color: #2B0508;
      display: flex;
      justify-content: space-between;
      line-height: 0.75rem;
      font-size: 0.27rem;
      font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
      color: #fff;
      .head-left{
        img{
          width: 0.3rem;
          height: 0.26rem;
        }
      }
    }
  }
  .detalis{
    background: url("../img/background.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 0.4rem 0.55rem;
    position: relative;
    .detalis-title{
      display: flex;
      justify-content: space-around;
      font-size: 0.26rem;
      font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
      margin-bottom: 0.3rem;
      line-height: 0.3rem;
    }
    .brief-introduction{
      background: #601C22;
      border-radius: 0.12rem;
      margin-bottom: 0.3rem;
      padding: 0.15rem;
      .brief-tit{
        font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        font-size: 0.22rem;
      }
      .brief-txt{
        font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        font-size: 0.19rem;
      }
    }
    .deta-num{
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.11rem;
      i:nth-of-type(1){
        font-size: 0.24rem;
        font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        line-height: 0.62rem;
      }
      i:nth-of-type(2){
        font-size: 0.17rem;
        line-height: 0.62rem;
      }
      .give-thumbs-up{
        background: url("../img/add.png") no-repeat;
        width: 0.95rem;
        height: 0.62rem;
        padding-top: 0.06rem;
        background-size: 100% 100%;
        text-align: center;
        font-size: 0.16rem;
        font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        .like{

        }
        .likenum{

        }
      }
    }
    .deta-ul{
      padding: 0.19rem 0.15rem;
      .deta-li{
        background: #601C22;
        border-radius: 0.12rem;
        margin-bottom: 0.08rem;
        display: flex;
        justify-content: space-between;
        padding: 0.11rem 0.2rem;
        line-height: 0.5rem;
        .detali-l{
          display: flex;
          .avatar{
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            //background: #FED12A;
            overflow: hidden;
            margin-right: 0.28rem;
          }
          .username{
            font-size: 0.24rem;
            font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
          }
          .captain{
            font-size: 0.17rem;
            font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
            margin-left: 0.64rem;
          }
        }
        .detali-r{
          margin-top: 0.06rem;
          width: 0.7rem;
          height: 0.38rem;
          background: #782E14;
          border-radius: 0.1rem;
          text-align: center;
          line-height: 0.38rem;
          color: #d7734d;
          font-size: 0.2rem;
          font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        }
      }
    }
  }

  .join-btn{
    width: 95%;
    height: 0.77rem;
    margin: 0 auto 1.5rem;
    text-align: center;
    line-height: 0.77rem;
    background: url("../img/join.png") no-repeat;
    background-size: 100% 100%;
    font-size: 0.3rem;
    font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
    color: #fff;
  }
  .informations{
    .list{
      width: 100%;
      height: auto;
      background: #3B0A0E;
      margin-bottom: 0.15rem;
      .list-box{
        display: flex;
        justify-content: space-between;
        height: 0.78rem;
        margin-bottom: 0.02rem;
        .list-left{
          display: flex;
          .avatar-box{
            margin-top: 0.16rem;
            width: 0.48rem;
            height: 0.48rem;
            border-radius: 50%;
            //background: #FED12A;
            overflow: hidden;
            margin-left: 0.35rem;
            margin-right: 0.24rem;
            img{
              width:100%;
              height:100%;
            }
          }
          .name{
            color: #fff;
            font-size: 0.23rem;
            font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
            line-height: 0.78rem;
            .username{

            }
          }
        }
        .list-right{
          display: flex;
          .agree,.refuse{
            margin-top: 0.2rem;
            color: #d7734d;
            font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
            font-size: 0.18rem;
            margin-right: 0.27rem;
            width: 0.7rem;
            height: 0.4rem;
            background: #782E14;
            border-radius: 0.05rem;
            text-align: center;
            line-height: 0.4rem;
          }
        }
      }
      .list-wrap{
        margin-left: 0.35rem;
        padding-bottom: 0.16rem;
        font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        color: #fff;
        .wrap-tit{
          font-size: 0.2rem;
          margin-bottom: 0.05rem;
        }
        .wrap-txt{
          font-size: 0.16rem;
          line-height: 0.3rem;
        }
      }
    }
  }
  .mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    .maskbox{
      width: 80%;
      height: 4rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      .mask-txt{
        height: 2.3rem;
        background: #621B22;
        border-radius: 0.1rem;
        padding: 0.2rem;
        margin-bottom: 0.1rem;
        .mask-inp{
          width: 100%;
          height: 2rem;
          background: transparent;
          outline: none;
          border: none;
          color: #929292;
          font-size: 0.18rem;
          font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        }
        ::-webkit-input-placeholder{
          color: #929292;
          font-size: 0.18rem;
          font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        }
        .mask-num{
          color: #929292;
          font-size: 0.18rem;
          font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
          text-align: right;
        }
      }
      .yon{
        display: flex;
        justify-content: space-between;
        span{
          width:48%;
          height: 0.6rem;
          text-align: center;
          line-height: 0.6rem;
          background: #621B22;
          color: #fff;
          border-radius: 0.1rem;
          font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
        }
      }
    }
  }



}
.del-box{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  .del-wrap{
    width: 75%;
    height: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3A0A0E;
    color: #fff;
    padding: 0.3rem;
    border-radius: 0.1rem;
    .del-tit{
      font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
      font-size: 0.25rem;
      margin-bottom: 0.2rem;
    }
    .del-txt{
      font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
      font-size: 0.22rem;
      margin-bottom: 0.2rem;
      text-align: center;
    }
    .del-btn{
      color: #d7734d;
      font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
      font-size: 0.18rem;
      width: 2rem;
      margin: 0.3rem auto 0;
      span{
        display: inline-block;
        width: 0.7rem;
        height: 0.4rem;
        background: #782E14;
        border-radius: 0.05rem;
        text-align: center;
        line-height: 0.4rem;
      }
      span:nth-of-type(1){
        margin-right: 0.5rem;
      }
    }
  }
}
.success-box{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  .success{
    width: 75%;
    height: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3A0A0E;
    color: #fff;
    padding: 0.3rem;
    border-radius: 0.1rem;
    .success-tit{
      font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
      font-size: 0.25rem;
      margin-bottom: 0.2rem;
    }
    .success-txt{
      font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
      font-size: 0.22rem;
      margin-bottom: 0.2rem;
      text-align: center;
    }
    .success-btn{
      color: #d7734d;
      font-family: "PingFang-SC-Medium", Arial, Helvetica, sans-serif;
      font-size: 0.18rem;
      width: 0.7rem;
      height: 0.4rem;
      background: #782E14;
      border-radius: 0.05rem;
      text-align: center;
      line-height: 0.4rem;
      margin: 0.4rem auto 0;
    }
  }
}